<h1 class="text-center">Gestion des votants</h1>
<p>Sélectionnez le fichier et appuyez sur le boutton "charger" :</p>
<div class="hide" id="progress">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
      60%
    </div>
  </div>
  <div>
    <p></p>
    <p class="progress-text text-center"></p>
    <p></p>
  </div>
</div>
<div id="select-form">
  <div class="form-group">
    <input type="file" placeholder="Sélectionnez le CSV" class="form-control" id="csv-file">
  </div>
  <a href="#" id="launch" class="btn btn-primary btn-block">Charger la liste !</a>
</div>