<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <a href="#" id="send_mails" class="btn btn-primary btn-block">
      <i class="glyphicon glyphicon-envelope"></i>
      <span>Envoyer un mail de rappel</span>
    </a>
    <div class="loading hide">
      <div style="width:120px; margin: 0 auto">      <svg width='120px' height='120px' style="margin: 0 auto;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-blank">
        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
        <g transform="scale(0.55)">
          <circle cx="30" cy="150" r="30" fill="#eb1414">
            <animate attributeName="opacity" from="0" to="1" dur="1s" begin="0" repeatCount="indefinite" keyTimes="0;0.5;1" values="0;1;1"></animate>
          </circle>
          <path d="M90,150h30c0-49.7-40.3-90-90-90v30C63.1,90,90,116.9,90,150z" fill="#fb1010">
            <animate attributeName="opacity" from="0" to="1" dur="1s" begin="0.1" repeatCount="indefinite" keyTimes="0;0.5;1" values="0;1;1"></animate>
          </path>
          <path d="M150,150h30C180,67.2,112.8,0,30,0v30C96.3,30,150,83.7,150,150z" fill="#fb1010">
            <animate attributeName="opacity" from="0" to="1" dur="1s" begin="0.2" repeatCount="indefinite" keyTimes="0;0.5;1" values="0;1;1"></animate>
          </path>
        </g>
      </svg>
      </div>

    </div>
  </div>
  <script>
    $(function(){
      $('#send_mails').click(function(){
        $.post('<%= url_for action: :send_mail_to_all %>', {},function () {
          $('#send_mails').show();
          $('.loading').toggleClass('hide');
        });
        $('#send_mails').hide();
        $('.loading').toggleClass('hide');
        return false;
      })
    })
  </script>
</div>