<h1 class="text-center">&Eacute;lection BdE INSA Lyon</h1>
<p>Les élections ne sont pas ouvertes pour le moment</p>
<p>Ouverture : Samedi 25 mai 2019 à 14h00</p>
<p>Fermeture : Samedi 1 juin 2019 à 23h59</p>