<h1 class="text-center">&Eacute;lection BdE INSA Lyon</h1>
<p>Les élections ne sont pas ouvertes pour le moment</p>
<p>Ouverture : Lundi 29 mai 2016 à 0h01</p>
<p>Fermeture : Dimanche 4 juin 2016 à 23h59</p>