<h1 class="text-center">&Eacute;lections BdE INSA Lyon</h1>
<p>Merci d'avoir participé au vote !</p>
<p>Nous te donnons rendez-vous le <b>mardi 6 juin en amphi Berger à 19h pour assister à l'Assemblée Générale des membres
  adhérents du BdE</b> au cours de laquelle seront communiqués les bilans moral et financier, ainsi que les résultats des
  votes !</p>
