<p>Cher(e) <%= @voter.first_name %> <%= @voter.last_name %>,</p>

<p>En tant qu'adhérent(e) au BdE, tu es invité(e) à voter à ses élections. Pour cela, il te suffit de suivre le lien suivant :</p>

<p class="text-center"><%= link_to hello_url(token: @voter.token), hello_url(token: @voter.token) %></p>

<p>Le vote sera ouvert à partir du lundi 29 mai 00h01.</p>

<p>Sur la page, tu trouveras aussi une explication de la méthode d'élection ainsi que la composition de chaque liste. Il est possible de voter en ligne jusqu'au 4 juin 2016 23h59 !</p>

<p>Si tu souhaites plus d'informations sur les élections ou si tu as un problème pour voter n'hésite pas à envoyer un mail à <a href="mailto:president@bde-insa-lyon.fr">president@bde-insa-lyon.fr</a></p>

<p>Cordialement,<br>
Le BdE INSA Lyon</p>